body{
    color: white;
}

.identity{
    
    background-color:#2474a9; 
    text-align: left;
    margin-bottom: 9px;
    
}
#sameColor{
    
    margin-left: 10px;
    margin-top: -11px;
    background-color: #2474a9;
    
}
.rectanglecolor2{
    
    background-color: #9a12b4 ;
    text-align: left;
    
    margin-bottom: 9px;
}
#samecolor2{
    background-color: #9a12b4 ;
    
    margin-left: 10px;
    margin-top: -11px;

}
#height{
    height: 3em;
}
.payment{
    background-color:#db0a5b ;
   
    text-align: left;
    
    margin-bottom: 9px;
}
#samecolor3{
    background-color:#db0a5b ;
    
    margin-left: 10px;
    margin-top: -11px;
}
#float{
    display: block;
}

#cards{
    list-style: none;
}